* {
    margin: 0px;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
    overflow-x: hidden;
}

/* heeader section */

/* browser menu */

header {
    position: fixed;
    top: 0px;
    background-color: #ffffff;
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    z-index: 1;
}

header img {
    margin-left: 24px;
    height: 32px;
}

#menu {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 24px;
    gap: 16px;
}

#menu a {
    color: black;
    text-decoration: none;
}

#mobile-header {
    display: none;
}

/* mobile menu */

 @media /* only screen */(max-width: 768px) {
    body {
        
    }
    #desktop-header {
        display: none;
    }
    #mobile-header {
        display: flex;
        text-align: center;
        align-content: center;
        justify-content: space-around;
    }

    /* banner mobile */
    #banner-container{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

/* desktop top banner */

#banner-container {
    display: flex;
    background-color: rgb(207, 207, 207);
    align-items: center;
    margin: 0 auto;
    padding: 64px 0px 32px 0px;
}

#banner-container img {
    width: 60%;
    padding-top: 32px;
    margin-left: 24px;
}

#banner-container .banner-text {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    text-align: center;
}

#banner-container .banner-text h1 {
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.671);
    font-weight: 750;
}

#banner-container .banner-text p {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.671);
    font-weight: 500;
    margin-top: 24px;
    margin-bottom: 24px;
}

#banner-container .banner-text button {
    color: white;
    background-color: rgba(0, 0, 0, 0.671);
    padding-bottom: 8px;
    padding-top: 8px;
    font-size: 1rem;
    font-weight: 700;
}

/* mobile top banner */

/* desktop informations */

#content {
  display: flex;
  margin: 0 auto;
}

#content-left {
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 32px;
  max-width: 60%;
}

#content-left img {
  width: 100%;
  padding-bottom: 32px;
}

#content-left h2 {
    color: rgba(0, 0, 0, 0.671);
    font-weight: 750;
    font-size: 2.5rem;
    padding-bottom: 24px;
    text-align: center;
}

#content-left p {
    color: rgba(0, 0, 0, 0.671);
    font-style: italic;
    text-align: center;
}

#content-left .content-left-end {
    color: black;
    padding-top: 32px;
    padding-bottom: 32px;
    float: inline-start;
}

#content-right {
  border-left: 2px solid rgb(207, 207, 207); 
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 40%;
  justify-content: center;
}

#content-right img {
    width: 35%;
    height: auto;
}

.content-right-text {
    width: 65%; 
    padding-left: 16px;
    color: rgba(0, 0, 0, 0.671)
}

.box-lecturer {
    background-color: rgb(207, 207, 207);
    display: flex;
    align-items: center;
    padding: 16px 16px;
}

.box-date {
    padding-left: 16px;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
}

.box-campus {
    border-top: 1px solid rgb(207, 207, 207);
    display: flex;
    align-items: center;
    padding: 16px 16px;
}

.read-more {
    text-decoration: none;
    color: rgb(38, 153, 230);
    font-weight: 500;
}

.content-right-text p {
    padding-top: 8px;
    padding-bottom: 8px;
}

/* Start learning */

#start-learning {
    background-color: rgb(207, 207, 207); 
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
}

#start-learning-top img {
    height: auto;
    width: 100%
}

#start-learning h1{
    text-align: center;
    padding: 32px 0px;
    color: rgba(0, 0, 0, 0.671);
    font-size: 3rem;
}

#start-learning h2 {
    margin-bottom: 16px;
    color: rgba(0, 0, 0, 0.671);
}

#start-learning p {
    margin-bottom: 16px;
    color: rgba(0, 0, 0, 0.671);
}
#start-learning-top {
    display: flex;
}

.box-engineering {
    margin-left: 72px;
    margin-right: 16px;
    background-color: white;
}

.box-computer {
    margin-left: 16px;
    margin-right: 16px;
    background-color: white;
}

.box-design {
    margin-right: 72px;
    margin-left: 16px;
    background-color: white;
}

.start-learning-text {
     width: 0;
     min-width: 100%;
     margin-left: 16px;
     margin-bottom: 8px;
     margin-top: 16px;
}

#start-learning-bottom {
    display: flex;
    margin-bottom: 32px;
}

#start-learning-bottom img {
    height: auto;
    width: 100%;
}

.box-data {
    margin-left: 72px;
    margin-right: 16px;
    background-color: white;
}

.box-business {
    margin-left: 16px;
    margin-right: 16px;
    background-color: white;
}

.box-marketing {
    margin-right: 72px;
    margin-left: 16px;
    background-color: white;
}

/* Thesis Desktop */

#thesis {
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    display: flex;
    margin-bottom: 32px;
}

.thesis-title {
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.671);
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.thesis-left {
    align-items: center;
    width: 60%;
    margin-left: 24px;
    margin-right: 24px;
    
}

#thesis h2 {
    padding-bottom: 8px;
    padding-top: 24px;
    color: rgba(0, 0, 0, 0.671);
}

#thesis p {
    color: rgba(0, 0, 0, 0.671);
    font-style: italic;
}

.thesis-left video {
    width: 100%;
}

#thesis-text-left {
    width: 0;
    min-width: 100%;
}

.thesis-right {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.thesis-text-right {
    margin-left: 16px;
}

.box-fisma {
    display: flex;
    align-items: center;
    background-color: rgb(207, 207, 207);
    padding: 16px;
}

.box-now {
    display: flex;
    align-items: center;
    padding: 16px;
}

/* Footer */

footer {
    border-top: 1px solid rgb(207, 207, 207);
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#footer-text-right {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 24px;
}

#footer-text-left {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

footer p {
    padding-left: 24px;
    color: rgba(0, 0, 0, 0.671);
}