@media only screen (max-width:768px) {
     * {
    margin: 0px;
  }

  html {
    font-size: 16px;
  }

  body {
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
  }

  header {
    display: none;
  }

  /* Mobile menu */
  #mobile-header {
    position: fixed;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 2;
  }

}