* {
    margin: 0px;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
    overflow-x: hidden;
}

/* heeader section */

/* browser menu */

header {
    position: fixed;
    top: 0px;
    background-color: #ffffff;
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    z-index: 1;
}

header img {
    margin-left: 24px;
    height: 32px;
}

#menu {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 24px;
    gap: 16px;
}

#menu a {
    color: black;
    text-decoration: none;
}

/* mobile menu */

/* desktop top banner */

#banner-container {
    display: flex;
    background-color: gray;
    align-items: center;
    margin: 0 auto;
    padding: 64px 0px 32px 0px;
}

#banner-container img {
    width: 60%;
    padding-top: 32px;
    margin-left: 24px;
}

#banner-container .banner-text {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    text-align: center;
}

#banner-container .banner-text h1 {
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.671);
    font-weight: 750;
}

#banner-container .banner-text p {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.671);
    font-weight: 500;
    margin-top: 24px;
    margin-bottom: 24px;
}

#banner-container .banner-text button {
    color: white;
    background-color: rgba(0, 0, 0, 0.671);
    padding-bottom: 8px;
    padding-top: 8px;
    font-size: 1rem;
    font-weight: 700;
}

/* mobile top banner */

/* desktop informations */

#content {
  display: flex;
  text-align: center;
  margin: 0 auto;
}

#content-left {
  border-right: 2px solid rgba(0, 0, 0, 0.671);
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 32px;
  max-width: 60%;
}

#content-left img {
  width: 100%;
  padding-bottom: 32px;
}

#content-right {
  
}



/* Start learning */


/* Thesis Desktop */


/* Footer */
